

<form method="POST" action="/updateretes" >  

  <%= token_tag nil %>                       

  <div class="">

    <div class="todate_fromdatebg">
      <div class="todate_fromdateheadingbg">



      </div>

      <table width="297" height="79" border="0" align="center">
        <tbody> 


          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">User:</td>
            <td><input type="text" name="User" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">Password:</td>
            <td><input type="text" name="Password" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">idHotel:</td>
            <td><input type="text" name="idHotel" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">idSystem:</td>
            <td><input type="text" name="idSystem" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">ForeignPropCode:</td>
            <td><input type="text" name="ForeignPropCode" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">IncludeRateLevels:</td>
            <td><input type="text" name="IncludeRateLevels" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">ExcludeRateLevels:</td>
            <td><input type="text" name="ExcludeRateLevels" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">IncludeRoomTypes:</td>
            <td><input type="text" name="IncludeRoomTypes" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">ExcludeRoomTypes:</td>
            <td><input type="text" name="ExcludeRoomTypes" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">RateType:</td>
            <td><input type="text" name="RateType" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">StartDate:</td>
            <td><input type="text" name="StartDate" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">EndDate:</td>
            <td><input type="text" name="EndDate" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">SingleOcc:</td>
            <td><input type="text" name="SingleOcc" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">DoubleOcc:</td>
            <td><input type="text" name="DoubleOcc" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">TripleOcc:</td>
            <td><input type="text" name="TripleOcc" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">DoublePlusChild:</td>
            <td><input type="text" name="DoublePlusChild" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">RollawayAdult:</td>
            <td><input type="text" name="RollawayAdult" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">RollawayChild:</td>
            <td><input type="text" name="RollawayChild" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">Crib:</td>
            <td><input type="text" name="Crib" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">Meals:</td>
            <td><input type="text" name="Meals" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">Advance:</td>
            <td><input type="text" name="Advance" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">MinStay:</td>
            <td><input type="text" name="MinStay" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">BlockStay:</td>
            <td><input type="text" name="BlockStay" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">Guarantee:</td>
            <td><input type="text" name="Guarantee" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">Cancel:</td>
            <td><input type="text" name="Cancel" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTAMonday:</td>
            <td><input type="text" name="CTAMonday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTATuesday:</td>
            <td><input type="text" name="CTATuesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTAWednesday:</td>
            <td><input type="text" name="CTAWednesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTAThursday:</td>
            <td><input type="text" name="CTAThursday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTAFriday:</td>
            <td><input type="text" name="CTAFriday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTASaturday:</td>
            <td><input type="text" name="CTASaturday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">CTASunday:</td>
            <td><input type="text" name="CTASunday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidMonday:</td>
            <td><input type="text" name="InvalidMonday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidTuesday:</td>
            <td><input type="text" name="InvalidTuesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidWednesday:</td>
            <td><input type="text" name="InvalidWednesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidThursday:</td>
            <td><input type="text" name="InvalidThursday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidFriday:</td>
            <td><input type="text" name="InvalidFriday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidSaturday:</td>
            <td><input type="text" name="InvalidSaturday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext">InvalidSunday:</td>
            <td><input type="text" name="InvalidSunday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td></td>
            <td align="right"> <input type="submit" class="submit_button" value="Update Rate" /></td>
          </tr>
        </tbody></table>


      </form>
    </div>




  </div>