

<form method="POST" action="/updateretes" >  

  <%= token_tag nil %>                       

  <div class="">

    <div class="todate_fromdatebg">
      <div class="todate_fromdateheadingbg">



      </div>

      <table width="297" height="79" border="0" align="center">
        <tbody> 


          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">User:</td>
            <td><input type="text" name="User" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">Password:</td>
            <td><input type="text" name="Password" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">idHotel:</td>
            <td><input type="text" name="idHotel" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">idSystem:</td>
            <td><input type="text" name="idSystem" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">ForeignPropCode:</td>
            <td><input type="text" name="ForeignPropCode" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">IncludeRateLevels:</td>
            <td><input type="text" name="IncludeRateLevels" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">ExcludeRateLevels:</td>
            <td><input type="text" name="ExcludeRateLevels" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">IncludeRoomTypes:</td>
            <td><input type="text" name="IncludeRoomTypes" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">ExcludeRoomTypes:</td>
            <td><input type="text" name="ExcludeRoomTypes" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">RateType:</td>
            <td><input type="text" name="RateType" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">StartDate:</td>
            <td><input type="text" name="StartDate" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">EndDate:</td>
            <td><input type="text" name="EndDate" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">SingleOcc:</td>
            <td><input type="text" name="SingleOcc" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">DoubleOcc:</td>
            <td><input type="text" name="DoubleOcc" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">TripleOcc:</td>
            <td><input type="text" name="TripleOcc" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">DoublePlusChild:</td>
            <td><input type="text" name="DoublePlusChild" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">RollawayAdult:</td>
            <td><input type="text" name="RollawayAdult" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">RollawayChild:</td>
            <td><input type="text" name="RollawayChild" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">Crib:</td>
            <td><input type="text" name="Crib" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">Meals:</td>
            <td><input type="text" name="Meals" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">Advance:</td>
            <td><input type="text" name="Advance" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">MinStay:</td>
            <td><input type="text" name="MinStay" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">BlockStay:</td>
            <td><input type="text" name="BlockStay" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">Guarantee:</td>
            <td><input type="text" name="Guarantee" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">Cancel:</td>
            <td><input type="text" name="Cancel" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTAMonday:</td>
            <td><input type="text" name="CTAMonday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTATuesday:</td>
            <td><input type="text" name="CTATuesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTAWednesday:</td>
            <td><input type="text" name="CTAWednesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTAThursday:</td>
            <td><input type="text" name="CTAThursday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTAFriday:</td>
            <td><input type="text" name="CTAFriday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTASaturday:</td>
            <td><input type="text" name="CTASaturday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">CTASunday:</td>
            <td><input type="text" name="CTASunday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidMonday:</td>
            <td><input type="text" name="InvalidMonday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidTuesday:</td>
            <td><input type="text" name="InvalidTuesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidWednesday:</td>
            <td><input type="text" name="InvalidWednesday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidThursday:</td>
            <td><input type="text" name="InvalidThursday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidFriday:</td>
            <td><input type="text" name="InvalidFriday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidSaturday:</td>
            <td><input type="text" name="InvalidSaturday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td width="104" height="23" class="todate_fromdateheadingtext1">InvalidSunday:</td>
            <td><input type="text" name="InvalidSunday" size="25" class="frmInput"></td>
          </tr>

          <tr>
            <td></td>
            <td align="right"> <input type="submit" class="submit_button" value="Update Rate" /></td>
          </tr>
        </tbody></table>


      </form>
    </div>




  </div>