<div>
Wlcome <%=@username%>,
</div>
<div>
  Your Account Has Been Successfully Created With Us.
  </div>
<div>
  Following Are The Credientials:
  </div>
<div>
  UserId :- <%=@emailid%>
  </div>
<div>
  Password :- <%=@password%>
  </div>

  Thanking You
  
  Administration
  

 