<form method="POST" action="/getbookings" >                      
 <%= token_tag nil %>                       
 
<div class="">

<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">

 <%= link_to 'Back', getbookings_path %>
  
</div>

<table width="297" height="79" border="0" align="center">
  <tr>
    <td width="104" height="23" class="todate_fromdateheadingtext">User: -</td>
    <td width="177"> 

        <input type="text" name="User" size="25" class="frmInput">
      
         </td>
  </tr>
  <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">Password:</td>
                            <td><input type="text" name="Password" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">idHotel:</td>
                            <td><input type="text" name="idHotel" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">idSystem:</td>
                            <td><input type="text" name="idSystem" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">ForeignPropCode:</td>
                            <td><input type="text" name="ForeignPropCode" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">idRSV:</td>
                            <td><input type="text" name="idRSV" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">StartDate:</td>
                            <td><input type="text" name="StartDate" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">EndDate:</td>
                            <td><input type="text" name="EndDate" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">StartCreationDate:</td>
                            <td><input type="text" name="StartCreationDate" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">EndCreationDate:</td>
                            <td><input type="text" name="EndCreationDate" size="25" class="frmInput"></td>
                          </tr>
                             <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext">Select Shop:</td>
                            <td><%= select_tag  "shop_id", options_from_collection_for_select(@select_shop,"id", "name" ),  :prompt => "",:class=>"select_company" %>
                          </td>
                          </tr>
                          
                          
                        <tr>
                          <td></td>
                          <td align="right"> <input type="submit" value="Get Bookings" class="submit_button"/></td>
                        </tr>
  
  
</table>

 






</div>




</div>