<form method="POST" action="/getbookings" >                      
 <%= token_tag nil %>                       
 
<div class="">

<div class="todate_fromdatebg">
<div class="todate_fromdateheadingbg">
<table><tr><td>
 <%= link_to 'Back', getbookings_path,:class=>'submit_button' %>
  </td></tr></table>
</div>

<table width="297" height="79" border="0" align="center">
  <tr>
    <td width="104" height="23" class="todate_fromdateheadingtext1">User </td>
    <td width="177"> 

        <input type="text" name="User" size="25" class="frmInput">
      
         </td>
  </tr>
  <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">Password </td>
                            <td><input  name="Password" size="25" class="frmInput" type="password"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">idHotel </td>
                            <td><input type="text" name="idHotel" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">idSystem </td>
                            <td><input type="text" name="idSystem" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">ForeignPropCode </td>
                            <td><input type="text" name="ForeignPropCode" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">idRSV </td>
                            <td><input type="text" name="idRSV" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">StartDate </td>
                            <td><input type="text" id="start_date" name="StartDate" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">EndDate </td>
                            <td><input type="text" id="end_date" name="EndDate" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">StartCreationDate </td>
                            <td><input type="text" name="StartCreationDate" size="25" class="frmInput"></td>
                          </tr>
                        
                          <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">EndCreationDate </td>
                            <td><input type="text" name="EndCreationDate" size="25" class="frmInput"></td>
                          </tr>
                             <tr>
                            <td width="104" height="23" class="todate_fromdateheadingtext1">Select Shop </td>
                            <td style="text-align: left"><%= select_tag  "shop_id", options_from_collection_for_select(@select_shop,"id", "name" ),  :prompt => "",:class=>"select_company" %>
                          </td>
                          </tr>
                          
                          
                        <tr>
                          <td></td>
                          <td align="left"> <input type="submit" value="Get Bookings" class="submit_button"/></td>
                        </tr>
  
  
</table>

 






</div>




</div>