
<div class="signup_bg">

<div class="">

<div class="signuptext">Your Reservation Is Successfull and Your Reservation Id is <%=@reservation_no%>  <span class="signuptextcolor"> Thanks</span> </div>
</div>
  </div>


 