<div class="welcome1">
      <%=link_to "Check Room",root_path%>
</div>
<div class="signup_bg_compl">

<div class="">

<div class="signuptext">Your Reservation Is Successfull and Your Reservation Id is <%=@reservation_no%> 
  <br/>
  <br/>
  <span class="signuptextcolor"> Thanks</span> </div>
</div>
  </div>


 