
<div class="container">
  <%=form_tag admins_path ,:method=>'get',:onsubmit=>"return check_company_tag()"%>

 <div id="hotel-selection">
 <div class="selecthotelheadingbg">
   <div class="slect_hotelheadingtext">Select Hotel</div>
 </div>
 <p>&nbsp;</p>
 <table width="240" height="117" border="0" align="center">
     <td width="98" height="66" class="listening_eventstext">Select Hotel</td>
    <td width="122"><%= select_tag  "company_id", options_from_collection_for_select(@all_companies,"id", "name" ),  :prompt => "",:class=>"drop_down" %></td>
  </tr>
 <tr>
  <td colspan="2">  <%=submit_tag "Go",:id=>'go'%></td>
  </tr>
</table>
</div>
</form>
</div>










 

 