<h1>New updateavail</h1>

<%= render 'form' %>

<%= link_to 'Back', updateavails_path %>


<!--

here what i need to do is from the view point of openerp try to get all the gds type rooms show there dates.
to get  a gds available room. 
so at backend in controller i should first fetch all the records from loop of 1..12 
-->
