 
 
<div class="signup_bg">

<div class="">

<div class="signuptextforgotpwd">Password Has Been Sent To Registered Email Id.<span class="signuptextcolor"> 
 <%=link_to "Sign In",authenticates_sign_in_path({:company_id=>session["campany_id"],:checkin=>session[:checkin],:checkout=>session[:checkout],:room=>session["selectedroom"]}) ,:notice=>"Your Account Is Created Please Login"
    %></span> 

</div>
</div>