  

 
 
 

   




 
 



 

 <%=form_tag(authenticates_forgot_password_auth_path)%> 
<div class="selecthotel_bg">
  <div id="notice" class="invalid">
    <%=flash[:notice]%>
    </div>
<div class="selecthotelheadingbg">
<div class="signuptext">   </div>


</div>

<table width="300" border="0" align="center">
 
    <td width="76" height="45" class="listening_eventstext">Email</td>
    <td width="214"> <%=text_field_tag "useremail" ,'',:size=>'25'%></td>
  </tr>


  
  <tr>
  <td colspan="2">   <%=submit_tag "Submit",:id=>'forgot'%></td>
  </tr>
</table>