
<%=form_tag "/reservations/show_dates"%>
<label>
  Select Hotel
  </label>
 <%= select_tag  "company_id", options_from_collection_for_select(@res,"id", "name" ),  :prompt => "" %>

<%=submit_tag "Go"%>
</form>
