
 
 



 

<%=form_tag "/reservations/show_dates"%>
<div class="selecthotel_bg">
  <div id="notice" class="invalid">
    <%=flash[:notice]%>
    </div>
<div class="selecthotelheadingbg">
<div class="signuptext">Select <span class="signuptextcolor">HOTEL</span></div>


</div>

<table width="300" border="0" align="center">
 
    <td width="76" height="45" class="listening_eventstext">Select Hotel</td>
    <td width="214"><%= select_tag  "company_id", options_from_collection_for_select(@res,"id", "name" ),  :prompt => "",:class=>"select_company" %></td>
  </tr>


  
  <tr>
  <td colspan="2">   <%=submit_tag "Go",:id=>'go'%></td>
  </tr>
</table>
  </form>