<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Hotel GDS Booking Management </title>
 <%= stylesheet_link_tag    "gdslayout" %>
</head>

 
  

<body>
 <div>
   <%#here i need to put in layout but not on admins page%>
   
   
   </div>
<%=flash[:notice]%>
<%= yield %>

 
 
</body>
</html>
